html {
  scroll-behavior: smooth;
  scroll-padding-top: 150px;
}

body {
  margin: 0;
  font-family: "Inter", sans-serif;
  padding-top: 60px;
  background-color: #333333;
  color: #ebeced;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  background-color: #fffb00;
  color: #333333;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 1rem;
  font-weight: 700;
  flex-wrap: wrap;
}
header > scan {
  font-size: 1.5rem;
}
.icons img {
  width: 50px;
}

.sidebar {
  position: fixed;
  top: 60px;
  width: 15%;
  height: calc(100vh - 60px);
  /* background-color: #1b1e1f; */
  padding: 20px;
  overflow-y: auto;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

.sidebar ul,
.sidebar-right ul {
  list-style-type: none;
  padding: 0;
}

.sidebar ul li,
.sidebar-right ul li {
  margin: 10px 0;
}

.sidebar ul li a,
.sidebar-right ul li a {
  text-decoration: none;
  font-size: 1rem;
  font-weight: 400;
  color: #ebeced;
}

.sidebar ul ul li {
  padding-left: 15px;
}

.sidebar ul ul li a {
  font-size: 16px;
}

.sidebar ul li a:hover {
  color: #bdbd00;
}

.sidebar-right {
  right: 0;
  position: fixed;
  top: 60px;
  width: 15%;
  height: calc(100vh - 60px);
  padding: 20px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}
.sidebar-right ul {
  list-style: none;
}
.sidebar-right ul li {
  /* text-align: center; */
  font-size: large;
}
.sidebar-right ul ul li {
  font-size: 16px;
  text-align: left;
}

.content {
  margin-left: 20%;
  margin-right: 20%;
  padding: 0 20px;
}
.content section h2 {
  margin-top: 20px;
  font-size: 1.5rem;
}
.content section p {
  text-align: justify;
}
.content section a {
  color: #bdbd00;
}
iframe {
  width: 100%;
  height: 600px;
}
.banner {
  background-color: white;
  display: flex;
  justify-content: center;
  padding: 30px 0;
}

.banner-java {
  max-width: 400px;
}
.fluxo-java {
  width: 100%;
}
img {
  width: 100%;
}
.img-legend {
  display: flex;
  flex-direction: column;
}
.img-legend > img {
  max-width: 700px;
}
.img-legend > span {
  font-size: 12px;
  padding: 3px 0;
}
footer {
  background-color: #444444;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 0;
  width: 100%;
}
footer > span {
  font-size: 14px;
}
footer > span > a {
  color: #007bff;
}

@media (max-width: 1300px) {
  .sidebar,
  .sidebar-right {
    display: none;
  }
  .icons {
    display: none;
  }
  .content {
    margin: 0;
  }
  iframe {
    width: 100%;
    height: auto;
  }
  header {
    height: 50px;
    padding: 10px;
  }
  header > scan {
    font-size: 1.2rem;
  }
  .icons > img {
    width: 40px;
  }
  footer {
    width: 100%;
  }
}
